@use "ds" as *

.card
  background: $neutral-0
  padding: gap(2.5) gap(1.5)
  border-radius: gap(1.5)
  box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35)
  border: 3px solid transparent
  transition: $transition
  &:hover
    border: 3px solid $neutral-60