* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
} */

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

p {
  text-wrap: pretty;
}

ol,
ul {
  list-style-position: inside;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

:target {
  scroll-margin-block: 5ex;
}
